<?xml version="1.0"?>
<!--****************************************************************************
  *
  * Copyright 2022
  * All Rights Reserved.
  *
  ***************************************************************************-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Task_AddCustomerAdditionalData" >
        <sequence>
            <module name="Magento_Customer"/>
        </sequence>
    </module>
</config>
